@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import './vars';
@import "./blocks/btn.scss";
@import './blocks/input.scss';
@import './blocks/card.scss';
@import './blocks/alert.scss';
@import './blocks/calendar.scss';

body {
  font-family: $--font-family;
  font-size: $--font-size-base;
  font-weight: $--font-weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

.v-application a {
  color: $--primary !important;
  text-decoration: none;
}

a:hover {
  color: $--prairie-sand-lighter !important;
}

#app {
  background-image: url(../background.png);
  height: 100%;
  background-size: cover;
}

.v-application {
  font-family: $--font-family !important;
}

.home-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../homebackground.png);
}



